<div class="container">
  <div class="col-md-6 offset-3">
    <h3 class="text-center">Registration Form</h3>
    <form [formGroup]="registerForm" (ngSubmit)="register()">

      <!-- 2 column grid layout with text inputs for the first and last names -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="Name">First name</label>
            <input type="text" id="Name" class="form-control" formControlName="firstname"/>
            <p *ngIf="registerForm.controls.firstname.dirty && registerForm.controls.firstname.errors" class="alert alert-danger">This field is required!</p>
          </div>
        </div>

        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="lastName">Last name</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" />
            <p *ngIf="registerForm.controls.lastName.dirty && registerForm.controls.lastName.errors" class="alert alert-danger">This field is required!</p>
          </div>
        </div>
        <div *ngIf="message" class="text-success">{{this.message}}</div>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="email">Email address :- <span class="text-danger">*</span></label>
        <input type="email" id="email" class="form-control"  formControlName="username"/>
        <p class="text text-danger" *ngIf="registerForm.controls.username.touched && registerForm.controls.username.errors.emailError">{{registerForm.controls.Email_Id.errors.emailError.message}}</p>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="pwd">Password :-</label>
        <input type="password" id="pwd" class="form-control" formControlName="password" />
        <p *ngIf="registerForm.controls.password.dirty && registerForm.controls.password.errors" class="alert alert-danger">This field is required!</p>
      </div>


      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
    </form>
  </div>
</div>